body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.theme-light {
  background-color: #f5f5f5;
  color: #333;
}

.theme-dark {
  background-color: #222;
  color: #f5f5f5;
}

.theme-dark li {
  background: #222;
  color: #f5f5f5;
}

#theme-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
}

#theme-dropdown[hidden] {
  display: none;
}

#theme-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

/* #theme-dropdown li:hover {
  background: #eee;
} */

.theme-dark li:hover {
  background: #313332;
}

.theme-light li:hover {
  background: #eee;
}

#theme-message {
  margin-top: 20px;
  font-weight: bold;
}
