html {
    font-size: 24px;
}

.newspaper {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.name {
    font-family: 'Times New Roman', serif;
    font-size: 2rem; 
    text-transform: uppercase;
}

.author {
    text-transform: uppercase;
    font-weight: bold;
}

.headline {
    font-size: 2em; 
    font-weight: bold;
}

.sub-headline {
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic;
}

.text {
    text-indent: 20px;
    line-height: 2em; 
}

.text::first-letter {
    font-size: 2em;
    font-weight: bold;
}